/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.bg-container {
  display: flex;
  background-image: url(../images/bgtile.png);
  height: 400px;
}

.foreground-container {
  display: flex;
  flex-direction: column;
  margin: 150px 400px;
}

/* aka no footer links */
.top-container {
  display: flex;
  flex-direction: row;
}

.right-side-container {
  margin-left: 50px;
}

.logo-stuff-container {
  display: flex;
  flex-direction: row;
}

.logo{
height: 100px;
}

.login {
  background-image: url(../images/bgtile.png);
	color: white;
	font-size: 14px;
	text-align: center;
	border-color: #1c5380;
  border-radius: 5px;
  padding: 0px;
  margin: 5px 5px 5px 25px;
  height: 40px;
  width: 100px;
}

.white-box {
  background: white;
  width: 400px;
  border-radius: 5px;
  padding: 7px 30px;
  background-image: url("../images/frame.png");
  background-repeat: no-repeat;

}

h2{
  color: #06365f;
  width: 63%
}

.badges-container {
  display: flex;
  flex-direction: row;
}

.iphone-badge{
  margin-right: 20px;
}

.footer {
  display: flex;
  justify-content: center;
}


span{
  color: #1c5380;
  text-decoration: none;
  size: 4px;
  font-weight: bold;
  margin: 50px 10px 0px 10px
}

#copy{
 
  color: gray;
  font-weight: none;
}